<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>searchItemType</key>
		<string>0</string>
		<key>icon</key>
		<string>home_icon_basic</string>
		<key>title</key>
		<string>基础版报告</string>
		<key>subTitle</key>
		<string>适用于蓝领、初级岗位</string>
		<key>des</key>
		<string>Basic Edition</string>
		<key>price</key>
		<string>2.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>1</integer>
		<key>icon</key>
		<string>home_icon_standard</string>
		<key>title</key>
		<string>标准版报告</string>
		<key>subTitle</key>
		<string>适用于企业中、高级白领</string>
		<key>des</key>
		<string>Standard Edition</string>
		<key>price</key>
		<string>1.00元/次</string>
	</dict>
</array>
</plist>
