<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupTitle</key>
		<string>资产信息</string>
		<key>titleColor</key>
		<string>#3071f2</string>
		<key>functions</key>
		<array>
			<dict>
				<key>icon</key>
				<string>lm_home_bill</string>
				<key>type</key>
				<string>bill</string>
				<key>title</key>
				<string>信用卡账单</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>lm_home_ebank</string>
				<key>type</key>
				<string>ebank</string>
				<key>title</key>
				<string>网银流水</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>lm_home_auto</string>
				<key>type</key>
				<string>autoinsurance</string>
				<key>title</key>
				<string>车险</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>lm_home_housefund</string>
				<key>type</key>
				<string>housefund</string>
				<key>title</key>
				<string>公积金</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>lm_home_socialSecurity</string>
				<key>type</key>
				<string>socialsecurity</string>
				<key>title</key>
				<string>社保</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>消费信息</string>
		<key>titleColor</key>
		<string>#f24130</string>
		<key>functions</key>
		<array>
			<dict>
				<key>icon</key>
				<string>lm_home_taobao</string>
				<key>type</key>
				<string>taobao</string>
				<key>title</key>
				<string>淘宝</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>lm_home_jd</string>
				<key>type</key>
				<string>jd</string>
				<key>title</key>
				<string>京东</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>社交信息</string>
		<key>titleColor</key>
		<string>#39b31b</string>
		<key>functions</key>
		<array>
			<dict>
				<key>icon</key>
				<string>lm_home_mobile</string>
				<key>type</key>
				<string>mobile</string>
				<key>title</key>
				<string>运营商</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>身份信息</string>
		<key>titleColor</key>
		<string>#f24130</string>
		<key>functions</key>
		<array>
			<dict>
				<key>icon</key>
				<string>lm_home_education</string>
				<key>type</key>
				<string>education</string>
				<key>title</key>
				<string>学历学籍</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>征信信息</string>
		<key>titleColor</key>
		<string>#39b31b</string>
		<key>functions</key>
		<array>
			<dict>
				<key>icon</key>
				<string>lm_home_credit</string>
				<key>type</key>
				<string>credit</string>
				<key>title</key>
				<string>央行征信</string>
			</dict>
		</array>
	</dict>
    <dict>
        <key>groupTitle</key>
        <string>三期</string>
        <key>titleColor</key>
        <string>#39b31b</string>
        <key>functions</key>
        <array>
            <dict>
                <key>icon</key>
                <string>lm_home_credit</string>
                <key>type</key>
                <string>lostcredit</string>
                <key>title</key>
                <string>失信被执行</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>lm_home_credit</string>
                <key>type</key>
                <string>maimai</string>
                <key>title</key>
                <string>脉脉</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>lm_home_credit</string>
                <key>type</key>
                <string>linkedin</string>
                <key>title</key>
                <string>领英</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>lm_home_credit</string>
                <key>type</key>
                <string>ctrip</string>
                <key>title</key>
                <string>携程</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>lm_home_credit</string>
                <key>type</key>
                <string>didi</string>
                <key>title</key>
                <string>滴滴</string>
            </dict>
        </array>
    </dict>
    
</array>
</plist>
