<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellList</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>所在城市</string>
				<key>icon</key>
				<string>1</string>
				<key>hold</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>公积金账号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>所在城市</string>
				<key>icon</key>
				<string>1</string>
				<key>hold</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>社保账号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>登录名</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>央行征信登录名</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
			<dict>
				<key>title</key>
				<string>身份验证码</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>身份验证码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>手机号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>手机号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>服务密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>服务密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>邮箱/用户名/手机号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>邮箱/用户名/手机号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>手机号/脉脉号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>手机号/邮箱</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>学信网账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>邮箱/手机号/身份证号</string>
			</dict>
			<dict>
				<key>title</key>
				<string>学信网密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>邮箱</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>邮箱密码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>名称</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>被执行人姓名/名称</string>
			</dict>
			<dict>
				<key>title</key>
				<string>号码</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>身份证号码/组织机构代码</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>车险</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>车险</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
<!--		<array>-->
<!--			<dict>-->
<!--				<key>title</key>-->
<!--				<string>企业工商信息</string>-->
<!--				<key>icon</key>-->
<!--				<string>3</string>-->
<!--				<key>hold</key>-->
<!--				<string>企业工商信息</string>-->
<!--			</dict>-->
<!--			<dict>-->
<!--				<key>title</key>-->
<!--				<string>密码</string>-->
<!--				<key>icon</key>-->
<!--				<string>2</string>-->
<!--				<key>hold</key>-->
<!--				<string>密码</string>-->
<!--			</dict>-->
<!--		</array>-->
		<array>
            <dict>
                <key>title</key>
                <string>银行</string>
                <key>icon</key>
                <string>1</string>
                <key>hold</key>
                <string></string>
            </dict>
			<dict>
				<key>title</key>
				<string>账号</string>
				<key>icon</key>
				<string>3</string>
				<key>hold</key>
				<string>用户名</string>
			</dict>
			<dict>
				<key>title</key>
				<string>密码</string>
				<key>icon</key>
				<string>2</string>
				<key>hold</key>
				<string>密码</string>
			</dict>
		</array>
	</array>
	<key>title</key>
	<array>
		<string>公积金查询</string>
		<string>社保查询</string>
		<string>央行征信查询</string>
		<string>运营商查询</string>
		<string>京东查询</string>
		<string>淘宝查询</string>
		<string>脉脉查询</string>
		<string>领英查询</string>
		<string>学历学籍查询</string>
		<string>信用卡账单查询</string>
		<string>失信被执行查询</string>
		<string>汽车保险查询</string>
<!--		<string>企业工商信息查询</string>-->
		<string>网银流水查询</string>
	</array>
	<key>protocol</key>
	<array>
		<string>《公积金授权协议》</string>
		<string>《社保授权协议》</string>
		<string>《央行征信授权协议》</string>
		<string>《运营商授权协议》</string>
		<string>《京东授权协议》</string>
		<string>《淘宝授权协议》</string>
		<string>《脉脉授权协议》</string>
		<string>《领英授权协议》</string>
		<string>《学信网授权协议》</string>
		<string>《信用卡账单邮箱授权协议》</string>
		<string>《NULL》</string>
		<string>《汽车保险授权协议》</string>
<!--		<string>《企业工商信息授权协议》</string>-->
		<string>《网银流水授权协议》</string>
	</array>
	<key>protocolURL</key>
	<array>
		<string>housefund/housefundProtocol</string>
		<string>socialsecurity/sociaLProtocol</string>
		<string>credit/creditProtocol</string>
		<string>mobile/mobileProtocol</string>
		<string>jd/jdProtocol</string>
		<string>taobao/taobaoProtocol</string>
		<string>maimai/maimaiProtocol</string>
		<string>linkedin/linkedinProtocol</string>
		<string>education/educationProtocol</string>
		<string>creditcardbill/creditcardbillProtocol</string>
		<string>shixin/shixinProtocol</string>
		<string>autoinsurance/autoinsuranceProtocol</string>
		<string>ebank/ebankProtocol</string>
		<string>5</string>
	</array>
</dict>
</plist>
