<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>me_icon_onlineRecharge</string>
		<key>title</key>
		<string>在线充值</string>
		<key>subTitle</key>
		<string>支持微信、支付宝支付</string>
		<key>type</key>
		<string>online</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>me_icon_bankTransfer</string>
		<key>title</key>
		<string>银行卡转账充值</string>
		<key>subTitle</key>
		<string>支持线下银行账户转账</string>
		<key>type</key>
		<string>offline</string>
	</dict>
</array>
</plist>
