<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMZX_SDKDemo_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>398CFB3E1E8DE35400186B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398CFB521E8DE35400186B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398CFB5D1E8DE35500186B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
