<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>searchItemType</key>
		<string>23</string>
		<key>icon</key>
		<string>icon_home_operators</string>
		<key>title</key>
		<string>运营商</string>
		<key>subTitle</key>
		<string>通话数据</string>
		<key>price</key>
		<string>2.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>28</integer>
		<key>icon</key>
		<string>icon_home_education</string>
		<key>title</key>
		<string>学历学籍</string>
		<key>subTitle</key>
		<string>学信网数据</string>
		<key>price</key>
		<string>1.00元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>25</integer>
		<key>icon</key>
		<string>icon_home_taoBao</string>
		<key>title</key>
		<string>淘宝</string>
		<key>subTitle</key>
		<string>网购数据</string>
		<key>price</key>
		<string>2.00元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>24</integer>
		<key>icon</key>
		<string>icon_home_E_Commerce</string>
		<key>title</key>
		<string>京东</string>
		<key>subTitle</key>
		<string>网购数据</string>
		<key>price</key>
		<string>1.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>29</integer>
		<key>icon</key>
		<string>icon_home_creditBill</string>
		<key>title</key>
		<string>信用卡账单</string>
		<key>subTitle</key>
		<string>邮箱账单汇总</string>
		<key>price</key>
		<string>1.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>22</integer>
		<key>icon</key>
		<string>icon_home_centralBank</string>
		<key>title</key>
		<string>央行征信</string>
		<key>subTitle</key>
		<string>央行征信代查</string>
		<key>price</key>
		<string>1.00元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>20</integer>
		<key>icon</key>
		<string>icon_home_housingFund</string>
		<key>title</key>
		<string>公积金</string>
		<key>subTitle</key>
		<string>存缴明细数据</string>
		<key>price</key>
		<string>2.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>21</integer>
		<key>icon</key>
		<string>icon_home_socialSecurity</string>
		<key>title</key>
		<string>社保</string>
		<key>subTitle</key>
		<string>存缴明细数据</string>
		<key>price</key>
		<string>2.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>27</integer>
		<key>icon</key>
		<string>icon_home_linkedIn</string>
		<key>title</key>
		<string>领英</string>
		<key>subTitle</key>
		<string>职场社交信息</string>
		<key>price</key>
		<string>1.00元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>31</integer>
		<key>icon</key>
		<string>icon_home_carInsurance</string>
		<key>title</key>
		<string>汽车保险</string>
		<key>subTitle</key>
		<string>保单数据</string>
		<key>price</key>
		<string>2.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>32</integer>
		<key>icon</key>
		<string>icon_home_eBankBill</string>
		<key>title</key>
		<string>网银流水</string>
		<key>subTitle</key>
		<string>交易明细数据</string>
		<key>price</key>
		<string>4.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>34</integer>
		<key>icon</key>
		<string>lm_home_didi</string>
		<key>title</key>
		<string>滴滴</string>
		<key>subTitle</key>
		<string>出行数据</string>
		<key>price</key>
		<string>4.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>33</integer>
		<key>icon</key>
		<string>lm_home_ctrip</string>
		<key>title</key>
		<string>携程</string>
		<key>subTitle</key>
		<string>旅行数据</string>
		<key>price</key>
		<string>4.50元/次</string>
	</dict>
	<dict>
		<key>searchItemType</key>
		<integer>30</integer>
		<key>icon</key>
		<string>icon_home_shixin</string>
		<key>title</key>
		<string>失信被执行</string>
		<key>subTitle</key>
		<string>法院黑名单</string>
		<key>price</key>
		<string>1.00元/次</string>
	</dict>
</array>
</plist>
