<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackgroundCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39EC7A701F6F99B200895D6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC7A891F6F99B300895D6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC7A941F6F99B300895D6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
